<% if user_signed_in? %>
	<h1>Welcome to the member area. You can get access to playlist for every occasion here</h1>
	
	<% else %>
<div class="center hero-unit">
	<h1>Welcome to Playlist.com</h1>

	<h2>
		You've found the home for playlists for every 
		<a href="http://omrails.com/">occasion</a>.
		</h2>
		
		<%= link_to "Sign up now!", new_user_registration_path,
		class: "btn btn-large btn-primary" %>
			</div>
<% end %>